---
import { GLOBAL } from "../../lib/variables";
import Layout from "../../layouts/Layout.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import Section from "../../components/common/Section.astro";
import { getArticles } from "../../lib/list";
import SubscribeCard from "../../components/SubscribeCard.astro";
import PopularArticles from "../../components/PopularArticles.astro";

const articles = await getArticles();

---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.blogTitle} • {GLOBAL.username}</title>
    <meta
      name="description"
      content={GLOBAL.blogLongDescription}
    />
    <meta property="og:title" content={`${GLOBAL.blogTitle} • ${GLOBAL.username}`} />
    <meta
      property="og:description"
      content={GLOBAL.blogShortDescription}
    />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta property="og:url" content={`${GLOBAL.rootUrl}/blog`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${GLOBAL.blogTitle} • ${GLOBAL.username}`} />
    <meta
      name="twitter:description"
      content={GLOBAL.blogShortDescription}
    />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta http-equiv="content-language" content="id" />
    <meta name="language" content="Indonesia" />
    <link rel="canonical" href={`${GLOBAL.rootUrl}/blog`} />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-8">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">{GLOBAL.articlesName}</h1>
    </div>

    <PopularArticles articles={articles} />

    <div class="mb-8">
      <h2 class="text-xl font-semibold text-slate-900 dark:text-white mb-4">Semua Postingan</h2>
    </div>

    <ul>
      {
        articles.map((article) => (
          <li>
            <ArticleSnippet
              title={article.title}
              description={article.description}
              duration={`${article.time} min`}
              url={article.filename}
              timestamp={article.timestamp}
            />
          </li>
        ))
      }
    </ul>
    <div class="mt-12">
      <SubscribeCard />
    </div>
  </Section>
</Layout>
