---
import { featuredArticles, featuredProjects } from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Section from "../components/common/Section.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import FeaturedArticles from "../components/home/FeaturedArticles.astro";
import SubscribeCard from "../components/SubscribeCard.astro";
---

<Layout
  title={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
  description={GLOBAL.longDescription}
  image={`${GLOBAL.rootUrl}/zaggonaut.png`}
>
  <Hero />
  <Section>
    <FeaturedProjects featuredProjects={featuredProjects} />
  </Section>
  <Section>
    <FeaturedArticles featuredArticles={featuredArticles} />
    <div class="mt-12">
      <SubscribeCard />
    </div>
  </Section>
</Layout>
