---
import { featuredArticles, featuredProjects } from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import { stripHtml } from "../lib/utils";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Section from "../components/common/Section.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import FeaturedArticles from "../components/home/FeaturedArticles.astro";
import SubscribeCard from "../components/SubscribeCard.astro";
import AffiliateHighlights from "../components/home/AffiliateHighlights.astro";
import { PRODUCTS } from "../lib/products";

const shortDescriptionPlain = stripHtml(GLOBAL.shortDescription);
const highlightedProducts = PRODUCTS;
const sameAsProfiles = [GLOBAL.githubProfile, GLOBAL.threadsProfile].filter(Boolean);
const homepageSchema = JSON.stringify(
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "name": GLOBAL.username,
        "url": GLOBAL.rootUrl,
        "description": shortDescriptionPlain,
        "inLanguage": "id",
        "potentialAction": {
          "@type": "SearchAction",
          "target": `${GLOBAL.rootUrl}/?q={search_term_string}`,
          "query-input": "required name=search_term_string",
        },
      },
      {
        "@type": "Organization",
        "name": GLOBAL.username,
        "url": GLOBAL.rootUrl,
        "logo": `${GLOBAL.rootUrl}/${GLOBAL.profileImage}`,
        "sameAs": sameAsProfiles,
      },
    ],
  },
).replace(/</g, "\\u003c");
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.username} • {shortDescriptionPlain}</title>
    <meta
      name="description"
      content={GLOBAL.longDescription}
    />
    <meta
      property="og:title"
      content={`${GLOBAL.username} • ${shortDescriptionPlain}`}
    />
    <meta
      property="og:description"
      content={GLOBAL.longDescription}
    />
    <meta
      property="og:image"
      content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`}
    />
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${GLOBAL.username} • ${shortDescriptionPlain}`}
    />
    <meta
      name="twitter:description"
      content={GLOBAL.longDescription}
    />
    <meta
      name="twitter:image"
      content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`}
    />
    <meta http-equiv="content-language" content="id" />
    <meta name="language" content="Indonesia" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
    <script type="application/ld+json" set:html={homepageSchema}></script>
  </Fragment>
  <Section class="my-16">
    <Hero />
  </Section>
  <Section>
    <FeaturedProjects featuredProjects={featuredProjects} />
  </Section>
  <Section>
    <FeaturedArticles featuredArticles={featuredArticles} />
    <AffiliateHighlights products={highlightedProducts} />
    <div class="mt-12">
      <SubscribeCard />
    </div>
  </Section>
</Layout>
