---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-16 mb-8">
  <Section class="mb-4">
    <div
      class="zag-border-b zag-transition pb-4 flex flex-col sm:flex-row sm:flex-nowrap gap-8 sm:items-center"
    >
      <ul class="flex flex-col gap-2">
        {
          Object.entries(GLOBAL.menu).map((i) => (
            <li>
              <Anchor url={i[1]}>{i[0]}</Anchor>
            </li>
          ))
        }
      </ul>
      <div class="flex flex-start items-start gap-4 w-full">
        <i
          class="fa-solid fa-quote-left text-3xl zag-text zag-transition -translate-y-2"
        ></i>
        >
        <p id="quote" class="zag-text zag-transition"></p>
      </div>
      <div class="flex flex-row sm:flex-col gap-4">
        {
          GLOBAL.githubProfile && (
            <Anchor url={GLOBAL.githubProfile} aria-label="GitHub Profile">
              <i class="fa-brands fa-github text-3xl zag-text zag-transition" />
            </Anchor>
          )
        }
        {
          GLOBAL.threadsProfile && (
            <Anchor url={GLOBAL.threadsProfile} aria-label="Threads Profile">
              <i class="fa-brands fa-threads text-3xl zag-text zag-transition" />
            </Anchor>
          )
        }
      </div>
    </div>
  </Section>
  <p class="zag-text zag-transition text-center text-sm font-medium">
    &copy; {year}
    {GLOBAL.username}. All rights reserved.
  </p>
</footer>

<script>
  const quotes = [
    {
      quote: "Ilmu tanpa amal bagaikan pohon tanpa buah.",
      source: "Imam Al-Ghazali",
    },
    {
      quote:
        "Bila engkau mencari ilmu, maka niatkan untuk memperbaiki diri, bukan untuk membanggakan diri.",
      source: "Imam Al-Ghazali",
    },
    {
      quote: "Sabar adalah pakaian yang tidak pernah usang.",
      source: "Imam Al-Ghazali",
    },
    {
      quote:
        "Barangsiapa tidak mensyukuri yang sedikit, maka ia tidak akan mampu mensyukuri yang banyak.",
      source: "Imam Syafi’i",
    },
    {
      quote:
        "Ilmu adalah cahaya. Cahaya Allah tidak diberikan kepada hati yang bermaksiat.",
      source: "Imam Syafi’i",
    },
    {
      quote:
        "Bersikaplah sederhana di dunia. Karena dunia ini hanya sementara, dan akhirat selamanya.",
      source: "Imam Syafi’i",
    },
    {
      quote: "Diam adalah jawaban terbaik bagi orang bodoh.",
      source: "Ali bin Abi Thalib",
    },
    {
      quote: "Nilai seseorang sesuai dengan apa yang ia usahakan.",
      source: "Ali bin Abi Thalib",
    },
    {
      quote:
        "Jangan terlalu banyak berjanji. Janji yang ditepati lebih baik daripada kata-kata yang indah.",
      source: "Ali bin Abi Thalib",
    },
    {
      quote:
        "Lukamu mungkin bukan salahmu. Tapi menyembuhkannya adalah tanggung jawabmu.",
      source: "Jalaluddin Rumi",
    },
    {
      quote: "Apa yang kamu cari, sebenarnya sedang mencari kamu.",
      source: "Jalaluddin Rumi",
    },
    {
      quote:
        "Jika setiap kali tidak mendapatkan apa yang engkau inginkan membuatmu sedih, maka engkau tidak akan pernah berhenti bersedih.",
      source: "Jalaluddin Rumi",
    },
  ];

  const quoteElement = document.getElementById("quote");
  const randomIndex = Math.floor(Math.random() * quotes.length);
  const randomQuote = quotes[randomIndex];
  if (quoteElement) {
    quoteElement.textContent = randomQuote.quote;
  }
</script>
